{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 mb-5">
            <div class="container-fluid">
                <div class="appicon row rounded align-items-center">
                    <div class="appicon-icon col-5">
                        <a href="mahasiswas/"><img class="img-fluid" src="{% static 'css/daftar.png' %}"
                                alt="Sikadu 2.0"></a>
                    </div>
                    <div class="col-7">
                        <h4><a href="mahasiswas/" style="color: black;">Data Labsos</a></h4>
                        <span><a href="mahasiswas/" style="color: black;">Data Peserta Labsos</a></span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 mb-5">
            <div class="container-fluid">
                <div class="appicon row rounded align-items-center">
                    <div class="appicon-icon col-5">
                        <a href="dosens/"><img class="img-fluid" src="{% static 'css/catatan.png' %}"></a>
                    </div>
                    <div class="col-7">
                        <h4><a href="dosens/" style="color: black;">Dosen / Mentor</a></h4>
                        <span><a href="dosens/" style="color: black;">Data Dosen/Mentor Labsos</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="container-fluid">
                <div class="appicon row rounded align-items-center">
                    <div class="appicon-icon col-5">
                        <a href="forums/"><img class="img-fluid" src="{% static 'css/forum.png' %}"
                                alt="Sitedi"></a>
                    </div>
                    <div class="col-7">
                        <h4><a href="forums/" style="color: black;">Forum</a></h4>
                        <span><a href="forums/" style="color: black;">Data Mitra Labsos</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    <!-- <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-sm-12">
                <h3 style="text-align: center;">Menu</h3>
                <div class="row">
                    <div class="col-4">
                        <a href="mahasiswas/">
                            <h1 class="card-title" role="tab" id="heading{{d.id}}" style="text-align: center;">
                                <button class="btn btn-warning"><i class="far fa-edit"></i></i></button>
                            </h1>
                        </a>
                        <p class="card-text" style="font-weight:bold; text-align: center;">Data Labsos </p>
                    </div>
                    <div class="col-4">
                        <a href="dosens/">
                            <h1 class="card-title" role="tab" id="heading{{d.id}}" style="text-align: center;">
                                <button class="btn btn-warning"><i class="far fa-edit"></i></i></button>
                            </h1>
                        </a>
                        <p class="card-text" style="font-weight:bold; text-align: center;">Data Dosen/Mentor</p>
                    </div>
                    <div class="col-4">
                        <a href="forums/">
                            <h1 class="card-title" role="tab" id="heading{{d.id}}" style="text-align: center;">
                                <button class="btn btn-success"><i class="far fa-comment-alt"></i></button>
                            </h1>
                        </a>
                        <p class="card-text" style="font-weight:bold; text-align: center;">Forum</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->