{% extends "base_dosen.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 mb-5">
            <div class="container-fluid">
                <div class="appicon row rounded align-items-center">
                    <div class="appicon-icon col-5">
                        <a href="dosenah/"><img class="img-fluid" src="{% static 'css/daftar.png' %}"
                                alt="Sikadu 2.0"></a>
                    </div>
                    <div class="col-7">
                        <h4><a href="dosenah/" style="color: black;">Data Labsos</a></h4>
                        <span><a href="dosenah/" style="color: black;">Data Mahasiswa Labsos</a></span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 mb-5">
            <div class="container-fluid">
                <div class="appicon row rounded align-items-center">
                    <div class="appicon-icon col-5">
                        <a href="catatan/"><img class="img-fluid" src="{% static 'css/catatan.png' %}"></a>
                    </div>
                    <div class="col-7">
                        <h4><a href="catatan/" style="color: black;">Catatan</a></h4>
                        <span><a href="catatan/" style="color: black;">Log-book Harian Dosen</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 mb-5">
            <div class="container-fluid">
                <div class="appicon row rounded align-items-center">
                    <div class="appicon-icon col-5">
                        <a href="forumd/{{id}}"><img class="img-fluid" src="{% static 'css/forum.png' %}"></a>
                    </div>
                    <div class="col-7">
                        <h4><a href="forumd/{{id}}" style="color: black;">Forum</a></h4>
                        <span><a href="forumd/{{id}}" style="color: black;">Forum Komunikasi Mahasiswa - Dosen</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    <!-- <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-sm-12">
                <h3 style="text-align: center;">Menu</h3>
                <div class="row">
                    <div class="col-3">
                        <a href="dosenah/">
                            <h1 class="card-title" role="tab" id="heading{{d.id}}" style="text-align: center;">
                                <button class="btn btn-warning"><i class="far fa-edit"></i></i></button>
                            </h1>
                        </a>
                        <p class="card-text" style="font-weight:bold; text-align: center;">Daftar Mahasiswa PKl </p>
                    </div>
                    <div class="col-3">
                        <a href="catatan.d/">
                            <h1 class="card-title" role="tab" id="heading{{d.id}}" style="text-align: center;">
                                <button class="btn btn-warning"><i class="far fa-edit"></i></i></button>
                            </h1>
                        </a>
                        <p class="card-text" style="font-weight:bold; text-align: center;">Catatan Harian Dosen</p>
                    </div>
                    <div class="col-3">
                        <a href="catatan_m/">
                            <h1 class="card-title" role="tab" id="heading{{d.id}}" style="text-align: center;">
                                <button class="btn btn-warning"><i class="far fa-edit"></i></i></button>
                            </h1>
                        </a>
                        <p class="card-text" style="font-weight:bold; text-align: center;">Nilai</p>
                    </div>
                    <div class="col-3">
                        <a href="forumd/{{id}}">
                            <h1 class="card-title" style="text-align: center;">
                                <button class="btn btn-success"><i class="far fa-comment-alt"></i></button>
                            </h1>
                        </a>
                        <p class="card-text" style="font-weight:bold; text-align: center;">Forum</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->